* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  #about {
    height: 80px 32px ; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio-container {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
  }
  
  .bio-photo {
    margin-top: 16px;
    width: 300px;
    height: auto;
   
   
  }
  
  .bio-text {
    flex: 1;
    min-width: 250px;
    font-size: 19.2px;
  }

  body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: white;
    color: black;
    text-align: justify;
    
  }
  
  header {
    background-color: black;
    padding: 16px 32px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    
  }
  
  .nav-links a {
    color: white;
 
  }
  
  .nav-links a:hover {
    color: grey;
    
  }
  
  .section {
    padding: 64px 32px;
    max-width: 900px;
    margin: auto;
  }
  
  
  video {
    margin: 24px auto;
    border-radius: 10px;
    max-width: 100%;
  }

  .banner {
    background-color: black;  
    color: white;
    padding: 16px 32px;
    max-width: 1000px;
    margin: 0 auto 32px; 
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  } 
  
  .button-container {
    text-align: center;
    margin-top: 16px;
 
  }

  .button-container h4 {
    margin-bottom: 16px; 
  }


  .btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

  }
  
  .btn:hover {
    background-color: grey;
  }


.footer-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px 32px;
    font-size: 14.4px;
    font-weight: bold;
  }
