* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  #about {
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio-container {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    flex-wrap: wrap;
  }
  
  .bio-photo {
    margin-top: 1px;
    width: 300px;
    height: auto;
   
   
  }
  
  .bio-text {
    flex: 1;
    min-width: 250px;
    font-size: 1.2px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
    text-align: justify;
    
  }
  
  header {
    background-color: black;
    padding: 3px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo a {
    color: white;
    font-size: 1.5px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5px;
    color: white;
    
  }
  .nav-links a:hover {
    color: blue;
    
  }
  
  .section {
    padding: 6px;
    max-width: 900px;
    margin: auto;
  }
  
  
  video {
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
  }

  .banner {
    background-color: black;  
    color: white;
    padding: 3px;
    max-width: 1000px;
    margin:  2px; 
    text-align: center;
    font-weight: bold;
    font-size: 1px;
  } 
  
  .button-container {
    text-align: center;
    margin-top: 1px;
 
  }

  .button-container h4 {
    margin-bottom: 1px; 
  }


  .btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

  }
  
 


.footer-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    font-size: 0.9px;
    font-weight: bold;
  }