* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  #about {
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .bio-photo {
    margin-top: 1rem;
    width: 300px;
    height: auto;
   
   
  }
  
  .bio-text {
    flex: 1;
    min-width: 250px;
    font-size: 1.2rem;
  }

  body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: white;
    color: black;
    text-align: justify;
    
  }
  
  header {
    background-color: black;
    padding: 1rem 2rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    
  }
  
  .nav-links a {
    color: #fff;
 
  }
  
  .nav-links a:hover {
    color: #f39c12;
    
  }
  
  .section {
    padding: 4rem 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  
  video {
    margin: 1.5rem auto;
    border-radius: 10px;
    max-width: 100%;
  }

  .banner {
    background-color: black;  
    color: white;
    padding: 1rem 2rem;
    max-width: 1000px;
    margin: 0 auto 2rem; 
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  } 
  
  .button-container {
    text-align: center;
    margin-top: 1rem;
 
  }

  .button-container h4 {
    margin-bottom: 1rem; 
  }


  .btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

  }
  
  .btn:hover {
    background-color: #e67e22;
  }


.footer-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    font-weight: bold;
  }